{{ define "main" }}

  <h1>
    About
  </h1>

  <div>
      <p>
      {{ .Content }}
      </p>
  </div>
  <br>

  {{ partial "social.html" . }}


  <br>
  <br>
  <br>
  <br>
  <br>
  <p style="font-size:16px">Page build with <a style="text-decoration:none;" href="https://gohugo.io" target="_blank" rel="noopener">Hugo</a> theme <a style="text-decoration:none;" href="https://github.com/kimcc/hugo-theme-noteworthy" target="_blank" rel="noopener">Noteworthy</a></p>

{{ end }}
