{{ define "main" }}
<!-- All of the site's posts grouped by year -->
  <h1>
    Posts
  </h1>


<!-- LOOK AT KIERAN HEALY SITE TO FORMAT CORRECTLY WHEN YOU HAVE ENOUGH -->
  <!-- <h2>Some Favorite Things</h2>

    {{ range (where .Site.RegularPages "Section" "posts") }}
    {{ if .Params.fave }}

        <span class="post-title">
          <a href="{{ .RelPermalink }}" class="archive-post-link">
            {{ .Title }}
          </a>
        </span> &middot;

    {{ end }}

    {{ end }}
   <br >  <br >
  <hr />
 -->

  <div>
     <!-- Group all the post pages from the same year -->
      <!-- {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }} -->
      {{ $pages := where site.RegularPages "Section" "posts" }}
      {{ range ($pages.GroupByDate "2006") }}
          <h3>{{ .Key }}</h3> <!-- Display the year -->

          <ul class="archives-list">

              {{ range (.Pages) }}

                  <li class="archives-list-item">
                    <span class="archives-list-item-date">{{ .PublishDate.Format "Jan 2" }}</span>
                    <span>
                      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </span>
                  </li>
              {{ end }}
          </ul>
      {{ end }}
  </div>

  <div class="page-footer"></div>

{{ end }}
