<header>
    <div class="site-title">
        <img align="left" style="padding-right: 10px" src="/me.jpg" alt="Me" width=55>
        <!-- <a href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a> -->
        <a style="color:#898989;" href="{{ "/" | relLangURL }}">Seized</a>
        <br>
        <a style="color:#898989;" href="{{ "/" | relLangURL }}">by the</a>
        <br>
        <a style="color:#898989;" href="{{ "/" | relLangURL }}">Day</a>
    </div>
</header>
